
@font-face {
    font-family: "Poppins-ExtraBold";
    src: url(assets/library/Poppins/Poppins-ExtraBold.ttf) format(Light);
    src: url(assets/library/Poppins/Poppins-SemiBold.ttf) format(semi-bold);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Courier New', Courier, monospace;
}
header{
    background: url(../img/vapoteHeader.png) no-repeat fixed;
    background-position: center;
    background-size: cover;
}

.login{
    display: none !important;
}
.login.active{
    display: block !important;
}