
@font-face {
    font-family: "Poppins-ExtraBold";
    src: url(assets/library/Poppins/Poppins-ExtraBold.ttf) format(Light);
    src: url(assets/library/Poppins/Poppins-SemiBold.ttf) format(semi-bold);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Courier New', Courier, monospace;
}
header{
    height: 200px;
    background: url(../img/vapoteHeader.png) no-repeat fixed;
    background-position: center;
    background-size: cover;
}
header div{
    height: 144px;
    display: flex;
    flex-direction: column;
}
header div button{
    width: 15%;
    height: 40px;
    
}